.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10rem 5rem 5rem 5rem;
  min-height: 100vh;
}
.type_container {
  cursor: pointer;
}
.title {
  background-color: #e9f8f9;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
.title h1 {
  color: #537fe7;
}

.img {
  margin: 2rem;
  border-radius: 3rem;
}
.link {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 600px) {
  .title {
    margin: 3rem;
  }
}
